<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Data Structure Tutorial</title>
    <meta name="description" content="">
    <meta name="keywords" content="">

   
    <!-- Vendor CSS Files -->
    <link href="~/template/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/template/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  
    <!-- Main CSS File -->
    <link href="~/template/css/main.css" rel="stylesheet">

</head>

<body class="index-page">

    <header id="header" class="header d-flex align-items-center" style="--background-color: rgba(77, 44, 169, 0.9);">
        <div class="container-fluid container-xl position-relative d-flex align-items-center">
            <a class="logo d-flex align-items-center me-auto" asp-area="" asp-controller="Home" asp-action="Index">
           
                <h1 class="sitename">Data Structure Tutorial</h1>
            </a>

            <nav id="navmenu" class="navmenu">
                <ul>
                    <li>
                        <a asp-controller="Home" asp-action="index" class="active">Home</a>
                    </li>
                    <li>
                        <a asp-controller="Categories" asp-action="index">Categories</a>
                    </li>
                  
                </ul>
                <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
            </nav>
        </div>
    </header>
    <div class="container container mt-5">
        <div class="pb-3">
            @RenderSection("title")
            <hr />
        </div>
        <div>
            @RenderBody()
        </div>
    </div>
    @await RenderSectionAsync("Scripts", required: false)

</body>

</html>