@section title{
    <h1>Welcome to Home Page!</h1>
}       
       
        <p>
    Welcome to the world of web development with ASP.NET Core 8 MVC! If you're a beginner looking to understand the Model-View-Controller (MVC) framework and learn how to implement basic CRUD (Create, Read, Update, Delete) operations, you’re in the right place.
</p>
 <div class="row gy-4">
    <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-up" data-aos-delay="100">
        <img src="assets/img/about.jpg" class="img-fluid" alt="">
    </div>
    <div class="col-lg-6 order-2 order-lg-1 content aos-init aos-animate" data-aos="fade-up" data-aos-delay="200">
        <h3 style="font-size: 2rem;font-weight: 700;">
            CRUD operations implemented in this demo
        </h3>
        <ul>
            <li><i class="bi bi-check-circle"></i> <span>Create: Users can create a new category by navigating to the "Categories" page.</span></li>
            <li><i class="bi bi-check-circle"></i> <span>Read: The "Categories" page displays a list of all categories.</span></li>
            <li><i class="bi bi-check-circle"></i> <span>Update: By clicking "Edit" next to a category, users can modify existing category information.</span></li>
            <li><i class="bi bi-check-circle"></i> <span>Delete:Users can delete a product by clicking the "Delete" next to a category, which prompts for confirmation.</span></li>
        </ul>
       
    </div>

</div>
